{% extends '_layout.html.twig' %}

{% block title %}
    {{ parent() }} - Item list
{% endblock %}

{% block content %}
    <h1>Items</h1>
    <a href="/item/add">Add</a>

    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item">
                <a href="/item/{{ item.id }}">
                    {{ item.title }}
                </a>
                <form onsubmit="return confirm('Are you sur ?');" class="float-right"
                      action="/item/delete/{{ item.id }}" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}